<div class="container">
  <h1>KaiAko</h1>
  <p>This is where the curriculum tree will reside</p>

</div>
<h1>Curriculum Tree</h1>
<% Topic.where(parent_id: 0).each do |topic| %>


<%= render_topic(topic).html_safe %>
<%= button_to :delete, curriculum_path(:id => topic.id), :method => :delete %>




<% end %>

<%= form_for :new_topic, url: {action: "create"}, html: {class: "create_form"} do |f| %>

  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.collection_select(:parent_id, Topic.all, :id, :name) %>
  <%= f.submit %>

<% end %>

