<!DOCTYPE html>
<html>
<head>
  <title>KaiAko</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <% if logged_in? %>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Profile', profile_path(current_user) %> |
        <%= link_to 'Learning Objectives', learning_objectives_path %> |
        <%= link_to 'Cohorts', cohort_index_path %> |
        <%= link_to 'Log Out', logout_path %>
      <% else %>
        <%= link_to 'Log In with Github', login_path %>
      <% end %>
    </nav>
    <div>
      <%= render "layouts/emo_state" %>
    </div>
  </header>
<hr>

<%= yield %>

</body>
</html>
