<!DOCTYPE html>
<html>
<head>
  <title>KaiAko</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if logged_in? %>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Profile', profile_path(current_user) %> |
      <%= link_to 'Log Out', logout_path %>
    <% else %>
      <%= link_to 'Log In with Github', login_path %>
    <% end %>
  </nav>
  <div id="emo-state">
    <%= form_for @emo_state do |f| %>
      <div class="form-group">
        <%= f.label :happy %>
        <%= f.radio_button_tag(:emotion, "happy") %>
      </div>
      <div class="form-group">
        <%= f.label :neutral %>
        <%= f.radio_button_tag(:emotion, "neutral") %>
      </div>
      <div class="form-group">
        <%= f.label :sad %>
        <%= f.radio_button_tag(:emotion, "sad") %>
      </div>
      <div class="form-group">
        <%= f.text_field :emotion, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn emo-btn btn-sm" %>
      </div>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
