<div id="learning">
<h1>Things to learn!!</h1>
  <ol>
    <% @objective.each do |o| %>
      <li>
        <h2><%= o.title %></h2>
        <p><%= o.description %></p>
        <%= button_to "delete", learning_objective_path(o), method: :delete %>
        <%= button_to "Done", learning_objective_complete_path(o) %>
      </li>
    <% end %>
  </ol>
</div>
<div id="learnt">
<h1>Learnt!!</h1>
</div>

<%= link_to 'Add new objective', new_learning_objective_path %>


